@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-sf-pro: "SF Pro", sans-serif;
	--font-georama: "Georama", sans-serif;
	--font-roboto: "Roboto Mono", monospace;

	--font-size: 16px;
	--background: #ffffff;
	--foreground: oklch(0.145 0 0);
	--card: #ffffff;
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: #030213;
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.95 0.0058 264.53);
	--secondary-foreground: #030213;
	--muted: #ececf0;
	--muted-foreground: #717182;
	--accent: #a7b1ee;
	--accent-foreground: #030213;
	--destructive: #d4183d;
	--destructive-foreground: #ffffff;
	--border: rgba(0, 0, 0, 0.12);
	--input: transparent;
	--input-background: #f3f3f5;
	--switch-background: #cbced4;
	--font-weight-medium: 500;
	--font-weight-normal: 400;
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--radius: 0.625rem;
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: #030213;
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
	--background-image: url("/images/Gold.png");
	--border-white: rgba(255, 255, 255, 0.341);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.145 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(14.479% 0.00002 271.152 / 0.913);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.985 0 0);
	--primary-foreground: oklch(31.714% 0.00004 271.152);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.396 0.141 25.723);
	--destructive-foreground: oklch(0.637 0.237 25.331);
	--border: oklch(0.269 0 0);
	--input: oklch(0.269 0 0);
	--ring: oklch(0.439 0 0);
	--font-weight-medium: 500;
	--font-weight-normal: 400;
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(0.269 0 0);
	--sidebar-ring: oklch(0.439 0 0);
	--background-image: url("/images/Blue Violet.png");
}

@theme inline {
	--color-wallpaper: var(--background-image);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-input-background: var(--input-background);
	--color-switch-background: var(--switch-background);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

/**
 * Base typography.
 */
@layer base {
	:where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) {
		h1 {
			@apply text-2xl font-medium leading-6;
		}

		h2 {
			@apply text-xl font-medium leading-6;
		}

		h3 {
			@apply text-lg font-medium leading-6;
		}

		h4 {
			@apply text-base font-medium leading-6;
		}

		p {
			@apply text-base font-normal leading-6;
		}

		label {
			@apply text-base font-medium leading-6;
		}

		button {
			@apply text-base font-medium leading-6;
		}

		input {
			@apply text-base font-normal leading-6;
		}
	}
}

html {
	font-size: var(--font-size);
	overflow: hidden;
	cursor: url("/images/cursor.svg"), auto;
}

@utility flex-center {
	@apply flex justify-center items-center;
}

@utility col-center {
	@apply flex justify-center items-center;
}

@utility abs-center {
	@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility ew-resize {
	cursor: ew-resize;
}

@utility ns-resize {
	cursor: ns-resize;
}

@utility nswe-resize {
	cursor: nswe-resize;
}

@utility nesw-resize {
	cursor: nesw-resize;
}

.nwse-resize {
	cursor: nwse-resize;
	/* @apply cursor-[url("/images/Diagonal Resize 2.cur"), auto]; */
	/* cursor: url('/images/Diagonal Resize 2.cur'), auto; */
}

@utility glassmorphism {
	@apply backdrop-blur-lg border border-white/30 rounded-2xl shadow-2xl/50 ring ring-ring;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply text-foreground font-sf-pro bg-cover bg-center bg-no-repeat bg-(image:--background-image) transition-all duration-1000 ease-in-out;
	}

	img {
		@apply select-none pointer-events-none;
	}
}

@layer components {
	main {
		@apply w-screen h-screen overflow-x-hidden;
	}

	nav {
		@apply fixed left-0 top-0 z-500 w-full bg-white/30 dark:bg-black/20 backdrop-blur-xl px-5 select-none flex justify-between;
		div {
			@apply flex-center;
			ul {
				@apply flex-center;
				li {
					@apply flex-center;
				}
			}
			button,
			p {
				@apply relative py-1 px-2 text-sm text-nowrap;
			}
			button:focus {
				@apply inset-0 rounded-sm bg-black/20 dark:bg-white/20 transition-colors;
			}
		}

		.dropdown-menu {
			@apply absolute top-5 bg-primary-foreground/60 text-popover-foreground rounded-md mt-2 p-1 glassmorphism backdrop-blur-xl;
			hr {
				@apply my-1 border-t border-muted-foreground/40 w-11/12 mx-auto backdrop-blur-xl;
			}
			ul {
				@apply flex flex-col items-start;
				li {
					@apply text-sm py-0.5 px-4 hover:bg-accent rounded-sm hover:text-accent-foreground w-full flex justify-between;
					button {
						@apply w-full text-left flex justify-between;
					}
				}
			}
		}
	}

	#dock {
		@apply fixed bottom-2 left-1/2 -translate-x-1/2 z-500 bg-transparent p-2;

		.dock-container {
			@apply flex gap-4 bg-transparent px-3 py-2 glassmorphism;

			.dock-icon {
				@apply w-14 h-14 rounded-xl flex items-center justify-center drop-shadow-sm;
			}
			.dock-pointer {
				@apply absolute -bottom-2 left-1/2 -translate-x-1/2 w-1 h-1 bg-accent-foreground/70 rounded-full;
			}
			.dock-label {
				@apply absolute left-1/2 -translate-x-1/2 -top-10 bg-popover/50 border-muted-foreground/40 text-foreground text-xs px-2 py-1 rounded-sm opacity-0 group-hover:opacity-100 transition-opacity whitespace-nowrap pointer-events-none;
			}
		}
	}
}
