@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer base {
	@font-face {
		font-family: "SFMono";
		src: url("/fonts/SFMono-Light.woff2") format("woff2"), url("/fonts/SFMono-Light.woff") format("woff");
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}
}

@theme {
	--font-georama: "Georama", sans-serif;
	--font-mono: SFMono, monospace;

	--font-size: 16px;
	--background: #ffffff;
	--foreground: oklch(0.145 0 0);
	--card: #eeeeee;
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: #030213;
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.95 0.0058 264.53);
	--secondary-foreground: #030213;
	--muted: #ececf0;
	--muted-foreground: #717182;
	--accent: #4f55ae;
	--accent-foreground: #030213;
	--destructive: #d4183d;
	--destructive-foreground: #ffffff;
	--border: rgba(0, 0, 0, 0.12);
	--input: transparent;
	--input-background: #f3f3f5;
	--switch-background: #cbced4;
	--font-weight-medium: 500;
	--font-weight-normal: 400;
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--radius: 0.625rem;
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: #030213;
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
	--background-image: url("/images/Gold.png");
	--border-white: rgba(255, 255, 255, 0.341);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(26.862% 0.00003 271.152);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(14.479% 0.00002 271.152 / 0.913);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.985 0 0);
	--primary-foreground: oklch(32.897% 0.00004 271.152);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.396 0.141 25.723);
	--destructive-foreground: oklch(0.637 0.237 25.331);
	--border: oklch(0.269 0 0);
	--input: oklch(0.269 0 0);
	--ring: oklch(0.439 0 0);
	--font-weight-medium: 500;
	--font-weight-normal: 400;
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(24.776% 0.00003 271.152);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(0.269 0 0);
	--sidebar-ring: oklch(0.439 0 0);
	--background-image: url("/images/Blue Violet.png");
}

@theme inline {
	--color-wallpaper: var(--background-image);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-input-background: var(--input-background);
	--color-switch-background: var(--switch-background);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

/**
 * Base typography.
 */
@layer base {
	:where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) {
		h1 {
			@apply text-2xl font-medium leading-6;
		}

		h2 {
			@apply text-xl font-medium leading-6;
		}

		h3 {
			@apply text-lg font-medium leading-6;
		}

		h4 {
			@apply text-base font-medium leading-6;
		}

		p {
			@apply text-base font-normal leading-6;
		}

		label {
			@apply text-base font-medium leading-6;
		}

		button {
			@apply text-base font-medium leading-6;
		}

		input {
			@apply text-input text-base font-normal leading-6;
		}
	}
}

html {
	font-size: var(--font-size);
	overflow: hidden;
	cursor: url("/images/cursor.svg"), auto;
}

@utility flex-center {
	@apply flex justify-center items-center;
}

@utility col-center {
	@apply flex justify-center items-center;
}

@utility abs-center {
	@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility ew-resize {
	cursor: ew-resize;
}

@utility ns-resize {
	cursor: ns-resize;
}

@utility nswe-resize {
	cursor: nswe-resize;
}

@utility nesw-resize {
	cursor: nesw-resize;
}

.nwse-resize {
	cursor: nwse-resize;
	/* @apply cursor-[url("/images/Diagonal Resize 2.cur"), auto]; */
	/* cursor: url('/images/Diagonal Resize 2.cur'), auto; */
}

@utility glassmorphism {
	@apply backdrop-blur-lg border border-white/20 rounded-2xl shadow-2xl/50 ring ring-ring;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		font-family: -apple-system, BlinkMacSystemFont, sans-serif;
		@apply text-foreground bg-cover bg-center bg-no-repeat bg-(image:--background-image) transition-all duration-1000 ease-in-out;
	}

	img {
		@apply select-none pointer-events-none;
	}
}

@layer components {
	main {
		@apply w-screen h-screen overflow-x-hidden;
	}

	nav {
		@apply fixed left-0 top-0 z-500 w-full select-none;
		.nav-container {
			@apply flex justify-between w-full bg-white/30 dark:bg-black/20 backdrop-blur-xl px-5;

			div {
				@apply flex-center;
				ul {
					@apply flex-center;
				}
				button,
				p {
					@apply relative py-1 px-2 text-sm text-nowrap;
				}
				button:focus {
					@apply inset-0 rounded-sm bg-black/20 dark:bg-white/20 transition-colors;
				}
			}
		}
		.dropdown-menu {
			@apply absolute top-5;
			hr {
				@apply my-1 border-t border-muted-foreground/40 w-11/12 mx-auto;
			}
			ul {
				@apply flex flex-col items-start bg-primary-foreground/60 text-popover-foreground rounded-md mt-2 p-1 glassmorphism;
				li {
					@apply text-sm py-0.5 px-4 hover:bg-accent rounded-sm hover:text-accent-foreground w-full flex justify-between;
					button {
						@apply w-full text-left flex justify-between;
					}
				}
			}
		}
	}

	#dock {
		@apply fixed bottom-2 left-1/2 -translate-x-1/2 z-500 bg-transparent p-2;

		.dock-container {
			@apply flex items-center gap-4 bg-transparent px-3 py-2 glassmorphism;

			.dock-icon {
				@apply w-14 h-14 object-contain rounded-xl flex items-center justify-center drop-shadow-sm active:brightness-70;
			}
			.dock-pointer {
				@apply absolute -bottom-2 left-1/2 -translate-x-1/2 w-1 h-1 bg-accent-foreground/70 rounded-full;
			}
			.dock-label {
				@apply absolute left-1/2 -translate-x-1/2 -top-10 bg-popover/50 border-muted-foreground/40 text-foreground text-xs px-2 py-1 rounded-sm opacity-0 group-hover:opacity-100 transition-opacity whitespace-nowrap pointer-events-none;
			}
		}
	}

	.title-bar-container {
		@apply shrink-0 border-b flex items-center justify-between px-4 py-2 bg-primary-foreground;
	}

	.resume, .finder, .safari {
		&.title-bar {
			@apply flex items-center justify-start w-full py-2 text-muted-foreground;
			.safari-group {
				&:last-child {
					@apply flex;
				}
				&:nth-child(3) {
					@apply gap-2 flex-1 max-w-lg;
				}
			}
			h3 {
				@apply text-sm font-medium text-accent-foreground;
			}
			.resume-group, div {
				@apply flex items-start justify-center gap-1;
			}
			button, a {
				@apply hover:bg-muted hover:rounded-sm flex items-center justify-center;
				svg {
					@apply w-7 h-7 stroke-2 p-1;
				}
			}
			input {
				@apply rounded-sm px-2 py-1 text-sm focus:outline-none focus:border-accent;
			}
		}
	}

	#desktop {
		@apply w-full h-full relative font-medium;
		#stickies {
			@apply bg-yellow-200 absolute w-50 h-50 pb-4 shadow-lg;
			#stickies-bar {
				@apply mix-blend-multiply bg-yellow-200 w-full h-3 top-0 flex justify-between items-center px-2;
				svg {
					@apply w-2 h-2 text-yellow-600;
				}
			}
			.textarea {
				@apply text-black text-sm w-full h-full text-wrap p-4 focus:outline-none overflow-scroll;
			}
		}

		.icons {
			@apply fixed select-none flex flex-col items-center w-24 outline-none;
			.icon {
				@apply w-18 h-18 mb-1 flex justify-center items-center border-muted-foreground/60 rounded-md group-focus:bg-black/10 group-focus:border-2;
				img {
					@apply w-16 h-16 object-contain drop-shadow-2xl pointer-events-none;
				}
			}
			p {
				@apply px-1 rounded-sm text-white drop-shadow-md drop-shadow-black/70 text-sm font-medium group-focus:bg-accent group-focus:drop-shadow-none;
			}
		}
	}
}
